@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);


#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-0 .navbar-toggler {
  color: #f7da64;
}
#slider-4 H1 {
  color: #ffffff;
  text-align: right;
}
#header1-1 I {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
  color: #ffffff;
}
#header1-1 H1 {
  color: #ffffff;
}

#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-0 .navbar-toggler {
  color: #f7da64;
}
#content1-18 H1 {
  text-align: center;
}
#testimonials1-5 .mbr-reviews__author-name {
  text-align: center;
}

#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-0 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-8 .nav .link,
#dropdown-menu-8 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-8 .navbar,
#dropdown-menu-8 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-8 .dropdown-menu a:hover,
#dropdown-menu-8 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-8 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-8 .nav .link,
#dropdown-menu-8 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-8 .navbar,
#dropdown-menu-8 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-8 .dropdown-menu a:hover,
#dropdown-menu-8 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-8 .navbar-toggler {
  color: #f7da64;
}
#menu-121 .mbr-brand__name {
  font-size: 16px;
}
#menu-121.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-121 .mbr-navbar__section {
  background: #000000;
}
#menu-121 .mbr-navbar__hamburger {
  color: #f7da64;
}

#dropdown-menu-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-8 .nav .link,
#dropdown-menu-8 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-8 .navbar,
#dropdown-menu-8 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-8 .dropdown-menu a:hover,
#dropdown-menu-8 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-8 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-8 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-8 .nav .link,
#dropdown-menu-8 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-8 .navbar,
#dropdown-menu-8 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-8 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-8 .dropdown-menu a:hover,
#dropdown-menu-8 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-8 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-d .nav .link,
#dropdown-menu-d .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-d .navbar,
#dropdown-menu-d .dropdown-menu {
  background: #333333;
}
#dropdown-menu-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-d .dropdown-menu a:hover,
#dropdown-menu-d .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-d .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-i .nav .link,
#dropdown-menu-i .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-i .navbar,
#dropdown-menu-i .dropdown-menu {
  background: #333333;
}
#dropdown-menu-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-i .dropdown-menu a:hover,
#dropdown-menu-i .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-i .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-n .nav .link,
#dropdown-menu-n .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-n .navbar,
#dropdown-menu-n .dropdown-menu {
  background: #333333;
}
#dropdown-menu-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-n .dropdown-menu a:hover,
#dropdown-menu-n .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-n .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #333333;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-s .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-x .nav .link,
#dropdown-menu-x .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-x .navbar,
#dropdown-menu-x .dropdown-menu {
  background: #333333;
}
#dropdown-menu-x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-x .dropdown-menu a:hover,
#dropdown-menu-x .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-x .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-12 .nav .link,
#dropdown-menu-12 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-12 .navbar,
#dropdown-menu-12 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-12 .dropdown-menu a:hover,
#dropdown-menu-12 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-12 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-17 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-17 .nav .link,
#dropdown-menu-17 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-17 .navbar,
#dropdown-menu-17 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-17 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-17 .dropdown-menu a:hover,
#dropdown-menu-17 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-17 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-1c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1c .nav .link,
#dropdown-menu-1c .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-1c .navbar,
#dropdown-menu-1c .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1c .dropdown-menu a:hover,
#dropdown-menu-1c .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1c .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-1h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1h .nav .link,
#dropdown-menu-1h .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-1h .navbar,
#dropdown-menu-1h .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1h .dropdown-menu a:hover,
#dropdown-menu-1h .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1h .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-1w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1w .nav .link,
#dropdown-menu-1w .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-1w .navbar,
#dropdown-menu-1w .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1w .dropdown-menu a:hover,
#dropdown-menu-1w .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1w .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-27 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-27 .nav .link,
#dropdown-menu-27 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-27 .navbar,
#dropdown-menu-27 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-27 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-27 .dropdown-menu a:hover,
#dropdown-menu-27 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-27 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-2c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2c .nav .link,
#dropdown-menu-2c .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-2c .navbar,
#dropdown-menu-2c .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2c .dropdown-menu a:hover,
#dropdown-menu-2c .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2c .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-2h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2h .nav .link,
#dropdown-menu-2h .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-2h .navbar,
#dropdown-menu-2h .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2h .dropdown-menu a:hover,
#dropdown-menu-2h .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2h .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-2m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2m .nav .link,
#dropdown-menu-2m .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-2m .navbar,
#dropdown-menu-2m .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2m .dropdown-menu a:hover,
#dropdown-menu-2m .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2m .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-2r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2r .nav .link,
#dropdown-menu-2r .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-2r .navbar,
#dropdown-menu-2r .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2r .dropdown-menu a:hover,
#dropdown-menu-2r .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2r .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-2w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2w .nav .link,
#dropdown-menu-2w .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-2w .navbar,
#dropdown-menu-2w .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2w .dropdown-menu a:hover,
#dropdown-menu-2w .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2w .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-31 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-31 .nav .link,
#dropdown-menu-31 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-31 .navbar,
#dropdown-menu-31 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-31 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-31 .dropdown-menu a:hover,
#dropdown-menu-31 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-31 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-37 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-37 .nav .link,
#dropdown-menu-37 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-37 .navbar,
#dropdown-menu-37 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-37 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-37 .dropdown-menu a:hover,
#dropdown-menu-37 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-37 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-3d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3d .nav .link,
#dropdown-menu-3d .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-3d .navbar,
#dropdown-menu-3d .dropdown-menu {
  background: #333333;
}
#dropdown-menu-3d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3d .dropdown-menu a:hover,
#dropdown-menu-3d .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-3d .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-3j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3j .nav .link,
#dropdown-menu-3j .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-3j .navbar,
#dropdown-menu-3j .dropdown-menu {
  background: #333333;
}
#dropdown-menu-3j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3j .dropdown-menu a:hover,
#dropdown-menu-3j .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-3j .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-3o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3o .nav .link,
#dropdown-menu-3o .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-3o .navbar,
#dropdown-menu-3o .dropdown-menu {
  background: #333333;
}
#dropdown-menu-3o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3o .dropdown-menu a:hover,
#dropdown-menu-3o .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-3o .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-3t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3t .nav .link,
#dropdown-menu-3t .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-3t .navbar,
#dropdown-menu-3t .dropdown-menu {
  background: #333333;
}
#dropdown-menu-3t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3t .dropdown-menu a:hover,
#dropdown-menu-3t .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-3t .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-3y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3y .nav .link,
#dropdown-menu-3y .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-3y .navbar,
#dropdown-menu-3y .dropdown-menu {
  background: #333333;
}
#dropdown-menu-3y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3y .dropdown-menu a:hover,
#dropdown-menu-3y .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-3y .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-43 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-43 .nav .link,
#dropdown-menu-43 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-43 .navbar,
#dropdown-menu-43 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-43 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-43 .dropdown-menu a:hover,
#dropdown-menu-43 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-43 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-4a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4a .nav .link,
#dropdown-menu-4a .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-4a .navbar,
#dropdown-menu-4a .dropdown-menu {
  background: #333333;
}
#dropdown-menu-4a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4a .dropdown-menu a:hover,
#dropdown-menu-4a .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-4a .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-4i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4i .nav .link,
#dropdown-menu-4i .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-4i .navbar,
#dropdown-menu-4i .dropdown-menu {
  background: #333333;
}
#dropdown-menu-4i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4i .dropdown-menu a:hover,
#dropdown-menu-4i .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-4i .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-4p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4p .nav .link,
#dropdown-menu-4p .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-4p .navbar,
#dropdown-menu-4p .dropdown-menu {
  background: #333333;
}
#dropdown-menu-4p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4p .dropdown-menu a:hover,
#dropdown-menu-4p .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-4p .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-4v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4v .nav .link,
#dropdown-menu-4v .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-4v .navbar,
#dropdown-menu-4v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-4v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4v .dropdown-menu a:hover,
#dropdown-menu-4v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-4v .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-51 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-51 .nav .link,
#dropdown-menu-51 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-51 .navbar,
#dropdown-menu-51 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-51 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-51 .dropdown-menu a:hover,
#dropdown-menu-51 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-51 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-56 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-56 .nav .link,
#dropdown-menu-56 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-56 .navbar,
#dropdown-menu-56 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-56 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-56 .dropdown-menu a:hover,
#dropdown-menu-56 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-56 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-5b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5b .nav .link,
#dropdown-menu-5b .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-5b .navbar,
#dropdown-menu-5b .dropdown-menu {
  background: #333333;
}
#dropdown-menu-5b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5b .dropdown-menu a:hover,
#dropdown-menu-5b .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-5b .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-5h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5h .nav .link,
#dropdown-menu-5h .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-5h .navbar,
#dropdown-menu-5h .dropdown-menu {
  background: #333333;
}
#dropdown-menu-5h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5h .dropdown-menu a:hover,
#dropdown-menu-5h .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-5h .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-5m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5m .nav .link,
#dropdown-menu-5m .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-5m .navbar,
#dropdown-menu-5m .dropdown-menu {
  background: #333333;
}
#dropdown-menu-5m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5m .dropdown-menu a:hover,
#dropdown-menu-5m .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-5m .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-5r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5r .nav .link,
#dropdown-menu-5r .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-5r .navbar,
#dropdown-menu-5r .dropdown-menu {
  background: #333333;
}
#dropdown-menu-5r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5r .dropdown-menu a:hover,
#dropdown-menu-5r .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-5r .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-5w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5w .nav .link,
#dropdown-menu-5w .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-5w .navbar,
#dropdown-menu-5w .dropdown-menu {
  background: #333333;
}
#dropdown-menu-5w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5w .dropdown-menu a:hover,
#dropdown-menu-5w .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-5w .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-61 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-61 .nav .link,
#dropdown-menu-61 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-61 .navbar,
#dropdown-menu-61 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-61 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-61 .dropdown-menu a:hover,
#dropdown-menu-61 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-61 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-68 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-68 .nav .link,
#dropdown-menu-68 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-68 .navbar,
#dropdown-menu-68 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-68 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-68 .dropdown-menu a:hover,
#dropdown-menu-68 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-68 .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-6d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-6d .nav .link,
#dropdown-menu-6d .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-6d .navbar,
#dropdown-menu-6d .dropdown-menu {
  background: #333333;
}
#dropdown-menu-6d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-6d .dropdown-menu a:hover,
#dropdown-menu-6d .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-6d .navbar-toggler {
  color: #f7da64;
}

#dropdown-menu-22 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-22 .nav .link,
#dropdown-menu-22 .dropdown-item {
  font-size: 1em;
  color: #f7da64;
  font-family: 'Lora', serif;
}
#dropdown-menu-22 .navbar,
#dropdown-menu-22 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-22 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-22 .dropdown-menu a:hover,
#dropdown-menu-22 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-22 .navbar-toggler {
  color: #f7da64;
}
